# Firebase
*.firebase.json
*.firebaserc

# Node
node_modules
npm-debug.log
yarn-error.log

# Archivos de credenciales y secretos
serviceAccountKey.json
*.env
.env.local
.env.*

# Logs
logs
*.log

# Next.js
.next/
out/

# Otros
.DS_Store
coverage/
