rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isUserAllowed(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    function getUserRole(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data.role;
    }

    function isAdmin() {
      return request.auth != null && getUserRole(request.auth.uid) == 'admin';
    }

    // Reglas para la colección 'users'
    match /users/{userId} {
      // Los usuarios pueden leer y actualizar su propio perfil
      allow read, update: if isUserAllowed(userId);
      // Los administradores pueden crear, borrar y listar usuarios.
      allow create, delete, list: if isAdmin();
    }

    // Reglas para la colección 'configuracion'
    match /configuracion/{docId} {
        allow read: if isAdmin();
    }

    // Reglas para la colección 'participants' y sus subcolecciones
    match /participants/{document=**} {
      // Los administradores tienen acceso total a los participantes y todas sus subcolecciones.
      allow read, write: if isAdmin();
    }
    
    // Reglas para la colección raíz 'paymentHistory'
    match /paymentHistory/{docId} {
      allow read: if isAdmin();
    }
  }
}