rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leer y escribir a cualquier usuario autenticado.
    // Esto es un paso intermedio para asegurar la funcionalidad.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
